/**************************/
/*       GENERAL          */
/**************************/
html {
	height: 100%;
}

body
{
	font-family: 'Source Sans Pro', sans-serif;
	max-width: 1200px;
	min-height: calc(100% - 20px);
	max-height: 100%;
	margin: 10px auto;
	/*border: 3px red solid;*/
}

/**************************/
/*       HEADER           */
/**************************/
#header
{
	/* Pour l'image de fond */
	/*background-image: url("../img/logoInfotel.png");
	background-repeat: no-repeat;
	background-size: 250px;
	background-color: white;
	background-position: center;*/
	margin: auto;
	height: 80px;
}

#header img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 75px;
}
/**************************/
/*        CONTAINER       */
/**************************/
#mainContainer
{
	display: table; /* (HeightFooter = 90) + (HeightHeader = 80) = 170*/
	min-height: calc(100vh - 190px);/* La hauteur minimale est tout l'écran sans compter la hauteur du header + du footer + des marges */
	height: calc(100vh - 190px);
	width: calc(100% - 20px); /* Prend tte la largeur de l'écran */
	margin: 8px; /* Ajout de marges de 8px */
	/*border: 3px yellow solid;*/
}

#subContainer
{
	display: table-cell;
	vertical-align: middle;
}
/**************************/
/*       FOOTER           */
/**************************/
#footer
{
	min-width: 450px;
	background-color: lightgrey;
	padding: 10px 0; /* Agrandir la largeur de l'élément */
	text-align: center; /* Centrer le texte */
	border-radius: 10px; /* Bords arrondis */
	margin: 10px;
	bottom: 0;
	/*border: 3px pink solid;*/
}

/**************************/
/*        LOGIN           */
/**************************/
#login h2
{
	color: white;
	text-align: center;
	font-size: 16px;
	border-bottom: 26px;
	margin: 0;
	padding: 26px 0 26px 0;

}

#login
{
	margin: auto;
	background-color: #0C2C86;
	color: white;
	box-shadow: 0 0 20px #333333; /* Ajout d'une ombre */
	min-width: 350px;
	width: 450px;
}



#login input
{
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
	padding: 10px 0 10px 3px; /* Case agrandie */
	width: calc(100% - 49px);
}

#login button
{
	float:right;
	margin-bottom: 20px;
	background-color: #0C2C86;
	color: white;
	margin-right: 20px;
	border: 0;
}

#login input[type="submit"]
{
	background-color: green;
	color: white;
	padding: 10px 20px; /* Case agrandie */
	border: 0; /* On retire la bordure */
	width: calc(100% - 40px); /* On prend tte la largeur du conteneur login mais on retire le padding */
	font-weight: bold;
	font-size: 13px;
}
